body {
  font-family: sans-serif;
  background-color: #ccc;
}

.title {
  text-align: center;
}

.userGrid {
  border: 5px solid indigo;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
}

.Card {
  border: 2px gray;
  width: 150px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  padding: 10px;
}

.user-photo {
  width: 100%;
  border-radius: 100px;
}

.card-text {
  text-align: center;
}
